@page
@{
    Layout = "_Layout";
}

@model TcKimlikKontrol.Models.Kayit

<h1>Kayıt Formu Aşağıdakiler</h1>
<br />

<form asp-action="Kayit/Create" method="post">
    <div class="form-group">
        <label asp-for="Ad"></label>
        <input asp-for="Ad" class="form-control" />
        <span asp-validation-for="Ad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Soyad">Soyad</label>
        <input asp-for="Soyad" class="form-control" />
        <span asp-validation-for="Soyad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Soyad">Soyadını bir daha gir </label>
        <input asp-for="Soyad" class="form-control" />
        <span asp-validation-for="Soyad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TcKimlikNo">TcKimlikNo </label>
        <input asp-for="TcKimlikNo" class="form-control" />
        <span asp-validation-for="TcKimlikNo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DogumTarihi">DogumTarihi</label>
        <input asp-for="DogumTarihi" class="form-control" />
        <span asp-validation-for="DogumTarihi" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>

</form>
